* {
  margin: 0;
  padding: 0;
}
.modal-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 300px;
  background-color: #34ffc8;
  color: #000;
  transition-property: width, height;
  transition-duration: 3s, 5s, 2s, 1s;
}

.modal-wrapper img {
  height: 45px;
  width: 45px;
}
