@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

body {
  background: transparent url('./utils/bg.png') 0% 0% no-repeat padding-box;
  background-size: cover;

  font-family: 'Roboto';
}

img {
  height: 100px;
  width: 100px;
}
