:root {
  /* Colors: */
  --surface: #eeeeee;
  --outline: #e4e4e4;
  --dark-hard: #000000;
  --dark_soft: #9f9f9f;
  --light-medium: #ffffff;
  --light-hard: #ffffff;
  --primary: #34ffc8;
  --secondary: #6a0572;
  --unnamed-color-121212: #121212;

  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-10: 10px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-character-spacing-1-5: 1.5px;
  --unnamed-character-spacing-1-25: 1.25px;
  --unnamed-character-spacing-0-15: 0.15px;
  --unnamed-character-spacing-0-25: 0.25px;
  --unnamed-character-spacing-0-5: 0.5px;
  --unnamed-line-spacing-16: 16px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-text-transform-uppercase: uppercase;
}

.button-fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fa-heart {
  color: white;
  text-align: right;
  width: 90%;
  margin-right: 1rem;
}

.ship {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 3rem auto;
}
.ship .execute_read {
  text-align: center;
}
.ship .execute_read button {
  border: 1px solid var(--primary);
  border: 1px solid #34ffc8;
  border-radius: 24px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-1-25);
  color: var(--primary);
  text-align: left;
  font: normal normal medium 14px/16px Roboto;
  letter-spacing: 1.25px;
  color: #34ffc8;
  text-transform: uppercase;
  opacity: 1;
  padding: 8px 25px;
  cursor: pointer;
  background-color: transparent;
}
.ship li {
  padding: 1.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.22);
  border-radius: 32px;
}
.overlay {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  opacity: 0.64;
  mix-blend-mode: overlay;
  background: rgb(245, 245, 245);
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0.9136029411764706) 0%,
    rgba(249, 249, 249, 0.7679446778711485) 22%,
    rgba(255, 255, 255, 0.3309698879551821) 53%,
    rgba(255, 255, 255, 0) 100%
  );
}
.ship .date-notation {
  margin-bottom: 1rem;
}
.ship img {
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 15px;
  border: 2px var(--primary) solid;
  width: 97%;
  height: 200px;
  object-fit: cover;
}
.center {
  text-align: center;
}
.mission {
  color: var(--primary);
}
.detail {
  color: #fff;
}

@media (max-width: 600px) {
  .ship {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem auto;
  }
  .ship p {
    font-size: 14px;
  }
}

.execute_read {
  margin-top: 1rem;
}

.date-notation {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-10) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-1-5);
  color: var(--dark_soft);
  text-align: left;
  font: normal normal medium 10px Roboto;
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #9f9f9f;
  text-transform: uppercase;
  opacity: 1;
}
